<link rel="stylesheet" href="/stylesheets/optpage.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">



<div class="d-flex justify-content-center align-items-center container">
<div class="row col-lg-4 col-12 " >
    <div class="card py-5 px-3" style="height:max-content;">
        {{#if ForgotPassMsg}}
        <div class="alert alert-success d-flex align-items-center" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:">
                <use xlink:href="#check-circle-fill" />
            </svg>
            <div>
                <p>{{ForgotPassMsg}}</p>
            </div>
        </div>
        {{/if}}
        <form action="/forgot" method="post" id="Forgotpass">
            <h5 class="m-0">Forgot password</h5><span class="mobile-text">Enter Your Email<b
                    class="text-danger">{{this.email}}</b></span>
            <div class=" flex-row mt-5">
                <input type="email" name="email" class="form-control" autofocus="" style="">
            </div>
            {{#if ForgotErrorMsg}}
            <h6 class="text-start" style="color:red;">{{ForgotErrorMsg}}</h6>

            {{/if}}

            <div class="d-flex justify-content-center mt-3">
                <button class="btn btn-primary" type="submit"> Submit</button>
            </div>
            <div class="d-flex justify-content-center mt-3">
                <button type="button" class="btn  btn-lg"><a href="/" class="text-decoration-none text-dark">Back to
                        Home</a> </button>

            </div>

            {{!-- <div class="text-center mt-5"><span class="d-block mobile-text">Don't receive the code?</span><span
                    class="font-weight-bold text-danger cursor">Resend<a href="/resentForgotPass"></a></span></div> --}}
        </form>
    </div>
    </div>
</div>







{{!-- ========================================= signup Validation ================================================= --}}

<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>


<script>

    $(document).ready(function () {
        $("#Forgotpass").validate({
            errorClass: "Errors",
            rules: {

                email: {
                    required: true,

                    emailvalidation: true
                },
            },
            messages: {
                email: {
                    required: "Please enter your email id",
                    email: "Enter a valid email"
                },

            }
        })


        $.validator.addMethod("emailvalidation", function (value, element) {
            return /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/.test(value);
        },
            "You have entered an invalid Email id"
        );

    })
</script>







<style>
    .Errors {
        color: red;

    }
</style>