

.Errorpage {
    
        background-image: url('/images/SVG-Animation-404-Page.gif');
        background-size: cover;
       
        background-repeat: no-repeat;
        background-position: center center;
        
        
        
        height: 100vh;
        padding:0;
        margin:0;



}